<p id="notice"><%= notice %></p>

<p>
  <strong>Image data:</strong>
  <%= image_tag @photo.image[:original].url, class: 'img-fluid' %>
</p>

<p>
  <strong>User:</strong>
  <%= @photo.user.email %>
</p>

<p>
  <strong>Description:</strong>
  <%= @photo.description %>
</p>

<%= link_to 'Edit', edit_photo_path(@photo) %> |
<%= link_to 'Back', photos_path %>
